[D-BUS Service]
Name=org.kde.kwalletd6
Exec=/usr/bin/rungic-bus-forward org.freedesktop.secrets org.kde.kwalletd6 org.kde.kwalletd5 org.kde.secretservicecompat org.freedesktop.impl.portal.desktop.kwallet
